<% if notice %>
  <div class="notice"><%= notice %></div>
<% end -%>
<% if alert %>
  <div class="alert"><%= alert %></div>
<% end -%>


<% if ! current_user %>
	<div class="welcome-links">
		<h1> ¡Bienvenido!</h1>
		<%= link_to 'Iniciar sesión', new_session_path, {:class => "btn btn-lg btn-primary btn-block"} %>
		<%= link_to '¡Registrate!', new_user_path, {:class => "btn btn-lg btn-primary btn-block"} %>
	</div>
<% end -%>

