// Place all the styles related to the Sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.form-signin, .form-signin-heading {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
  text-align:center;
}

.form-signin .form-signin-heading {
  margin-bottom: 10px;
}

.btn, .btn-lgm .btn-primary, .btn-block
{
	margin-top:10px;
}