<div class="col-md-2 text-center">
<h1>PERFIL <br/> EQUIPO</h1>
</div>
<div class="col-md-10">
<%= render 'form' %>

<br>

 <div class="text-center col-md-12">
<%= link_to '< Volver', users_path %>|
<%= link_to 'Cancelar', @user %>
</div>
</div>